.redes{
    img{
        width: 24px;
        height: auto;
        display: flex;
        
    }
}

.alinear{
    background-color:#1e40af;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.alinear div{
    flex-direction: column;
    display: flex;
    gap: 10px;
    color: white;
    
}


  .t-alineado{
    justify-content: center;
    background-color:rgb(222, 225, 231);
    padding: auto;
    color: white;
    border-radius: 10px;
    width: 300px;
    color: black;
  }

.centrado-p{
    justify-content: column;
}

#solo-img{
    width: 720px;
}